.footer {
  position: relative;
  padding-top: 50px;
  margin-top: 80px;
  padding-bottom: 50px;
  background: $color-primary-alt;
  color: $color-white;
  z-index: 9;
  text-align: left;

  @media (max-width: 989px) {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .container .footer-link-holder a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-secondary-alt;
      text-decoration: none;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .footer-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 100px;

    .footer-link-holder {
      padding: 24px;

      @media all and (max-width: $screen-lg-min) {
        width: 25%;
      }

      @media all and (max-width: $screen-md-min) {
        width: 30%;
      }

      @media all and (max-width: $screen-sm-min) {
        width: 50%;
      }
    }

    @media all and (max-width: $screen-sm-min) {
      justify-content: flex-start;
    }
  }
}

.footer-logo {
  position: absolute;
  top: -36px;
  left: 50%;
  margin-left: -32.5px;
}

.footer-social {
  padding-bottom: 16px;

  li {
    display: inline-block;
    width: 45px;
    font-size: 26px;
  }

  a i[class*="fa-"]:before {
    color: #ffffff;
  }

  a:active i[class*="fa-"]:before,
  a:focus i[class*="fa-"]:before,
  a:hover i[class*="fa-"]:before {
    color: #4b3589;
  }
}

.footer-link-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-links {
  font-size: 16px;

  li:not(:last-child) {
    padding-bottom: 2px;
  }
}
